<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
	<display-name>PCAdministration</display-name>
	<!-- Filter for all requests (page calls and dwr calls) -->


	  <filter>
	    <filter-name>Timeout-Filter</filter-name>
	    <filter-class>org.webguitoolkit.ui.http.SessionTimeoutFilter</filter-class>
	    <init-param>
	    	<param-name>DWR_MODE</param-name>
	      <param-value>XML</param-value>
	    </init-param>
	  </filter>
	  <filter-mapping>
	    <filter-name>Timeout-Filter</filter-name>
	    <url-pattern>/dwr/*</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>Timeout-Filter</filter-name>
	    <url-pattern>*.event</url-pattern>
	  </filter-mapping>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>
			org.webguitoolkit.ui.http.WGTFilter
		</filter-class>
	</filter>
	
	<filter>
    <filter-name>SessionFilterPCA</filter-name>
    <filter-class>
        com.endress.infoserve.test.pca.filter.SessionFilter
    </filter-class>
</filter>

<filter-mapping>
		<filter-name>SessionFilterPCA</filter-name>
		<url-pattern>*.event</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilterPCA</filter-name>
		<url-pattern>/page/*</url-pattern>
	</filter-mapping>
 	<filter-mapping>
		<filter-name>SessionFilterPCA</filter-name>
		<url-pattern>/dwr/call/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilterPCA</filter-name>
        <url-pattern>/FileUpload/*</url-pattern>
    </filter-mapping>
	
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.event</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/page/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/FileUpload/*</url-pattern>
	</filter-mapping>


	<!-- Servlets -->
	<servlet>
		<servlet-name>resource_servlet</servlet-name>
		<servlet-class>
	  		org.webguitoolkit.ui.http.ResourceServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
        <load-on-startup>2</load-on-startup>		
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
	  	<servlet-class>
	  		org.directwebremoting.servlet.DwrServlet
	  	</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<!-- definition of the page servlet -->
	<servlet>
		<servlet-name>PageServlet</servlet-name>
	  	<servlet-class>
	  		org.webguitoolkit.ui.http.PageServlet
	  	</servlet-class>
		<init-param>
			<description>
				import or prefixes of the Page objects to be loaded
			</description>
			<param-name>import</param-name>
			<!-- packages where the pages should be searched -->
			<param-value>
				com.endress.infoserve.test.pca.page;
				org.webguitoolkit.ui.wgt.tools
			</param-value>
		</init-param>
	</servlet>
	<servlet>
      <servlet-name>FileUpload</servlet-name>
      <servlet-class>org.webguitoolkit.ui.controls.form.fileupload.FileUploadServlet</servlet-class>
	  <init-param>
	     <param-name>MAX_FILE_SIZE</param-name>
	     <param-value>536870912</param-value>
	     <!-- 512 MB -->
	  </init-param>
    </servlet>
    <servlet>
      <servlet-name>FileDownload</servlet-name>
      <servlet-class>org.webguitoolkit.components.explorer.filedownload.FileDownloadServlet</servlet-class>
 
    </servlet>
    <servlet>
      <servlet-name>ExportServlet</servlet-name>
      <servlet-class>org.webguitoolkit.ui.util.export.ExportServlet</servlet-class>
    </servlet>  
    <servlet>
      <servlet-name>DisplayChart</servlet-name>
      <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
    <servlet>
	  <servlet-name>log4j-init</servlet-name>
	  <servlet-class>com.endress.infoserve.logging.Log4jInit</servlet-class>
	  <init-param>
	    <param-name>log4j-init-file</param-name>
	    <param-value>pca-log-conf.xml</param-value>
	  </init-param>
	  <load-on-startup>2</load-on-startup>
	</servlet>
	
    <servlet-mapping>
        <servlet-name>log4j-init</servlet-name>
        <url-pattern>/log-config</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/Chart/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/ExportServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/FileDownload</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>resource_servlet</servlet-name>
		<url-pattern>/wgt-resources/*</url-pattern>
	</servlet-mapping>

	 <resource-env-ref>
	    <description>Hibernate Database Dialect</description>
	    <resource-env-ref-name>hibernateDialect-wam</resource-env-ref-name>
	    <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  	</resource-env-ref> 
  
	<resource-ref>
		<description>User database</description>
		<res-ref-name>jdbc/wam</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<welcome-file-list>
		<welcome-file>page/Index</welcome-file>
	</welcome-file-list>
	
	<!--Login eingefügt  -->

	<security-constraint>
		<display-name>Security Constraint for Administrator</display-name>
		<web-resource-collection>
			<web-resource-name>*</web-resource-name>
			<url-pattern>/page/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			   <role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Security Constraint for StandartUser</display-name>
		<web-resource-collection>
			<web-resource-name>*</web-resource-name>
			<url-pattern>/page/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			   <role-name>StandardUser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
        <description>Role for log-config</description>
        <role-name>Log</role-name>
    </security-role>
    
	<login-config> 
		<auth-method>FORM</auth-method>
		<realm-name>pcadministration</realm-name>
		<form-login-config>
			<form-login-page>/page/PCALogin</form-login-page>
			<form-error-page>/page/PCALogin?success=false</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
